.hero {
  background: white;
  width: 100vw;
  height: 100vh;
  margin-left: calc(-50vw + 50%);
}

.hero-inner {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 6px;
}
