.hero {
  background: white;
  width: 100vw;
  height: 100vh;
  margin-left: calc(-50vw + 50%);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-inner {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 6px;
}
